################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/giant-robot-among-us/.vs/giant-robot-among-us
/giant-robot-among-us/giant-robot-among-us/x64/Debug/giant-ro.af6d3746.tlog/CL.command.1.tlog
