################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/giant-robot-among-us/.vs/giant-robot-among-us
